<tr id="<%= dom_id cliente %>">
  <td class="table-warning">
    <%= cliente.id %>
  </td>
  <td class="table-warning">
    <%= cliente.nombre %>
  </td>
  <td class="table-warning">
    <%= cliente.datocorreo %>
  </td>
  <td class="table-warning">
    <%= cliente.telefono %>
  </td>
  <td class="table-warning">
    <%= link_to "Edit this cliente" , edit_cliente_path(cliente) %>
  </td>
  <td class="table-warning">
    <%= button_to "Destroy this cliente" , cliente, method: :delete %>
  </td>
  <td class="table-warning">
    <%= link_to "Show this cliente" , cliente %>
  </td>
</tr>