<div id="<%= dom_id cliente %>">
  <p>
    <strong>Codigo:</strong>
    <%= cliente.codigo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= cliente.correo %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= cliente.telefono %>
  </p>

</div>
