<div id="<%= dom_id contrato_combo_paquete %>">
  <p>
    <strong>Cliente:</strong>
    <%= contrato_combo_paquete.cliente_id %>
  </p>

  <p>
    <strong>Combo paquete:</strong>
    <%= contrato_combo_paquete.combo_paquete %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= contrato_combo_paquete.cantidad %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contrato_combo_paquete.valor %>
  </p>

  <p>
    <strong>Fecha contratacion:</strong>
    <%= contrato_combo_paquete.fecha_contratacion %>
  </p>

</div>
