<p style="color: green"><%= notice %></p>

<%= render @contrato_combo_paquete %>

<div>
  <%= link_to "Edit this contrato combo paquete", edit_contrato_combo_paquete_path(@contrato_combo_paquete) %> |
  <%= link_to "Back to contrato combo paquetes", contrato_combo_paquetes_path %>

  <%= button_to "Destroy this contrato combo paquete", @contrato_combo_paquete, method: :delete %>
</div>
