<p style="color: green"><%= notice %></p>

<%= render @promocion %>

<div>
  <%= link_to "Edit this promocion", edit_promocion_path(@promocion) %> |
  <%= link_to "Back to promocions", promocions_path %>

  <%= button_to "Destroy this promocion", @promocion, method: :delete %>
</div>
