<tr id="<%= dom_id acc %>">
  <td class="table-primary">
    <%= acc.id %>
  </td>
  <td class="table-secondary">
    <%= acc.nombre_de_cuentas %>
  </td>
  <td class="table-success">
    <%= acc.contrasena %>
  </td>
  <td class="table-danger">
    <%= acc.perfiles %>
  </td>
  <td class="table-warning">
    <%= acc.facturacion %>
  </td>
  <td class="table-info">
    <%= link_to "Edit this Acc" , edit_acc_path(acc) %>
  </td>
  <td class="table-light">
    <%= button_to "Destroy this acc" , acc, method: :delete %>
  </td>
  <td class="table-dark">
    <%= link_to "Show this acc" , acc %>
  </td>
</tr>