<p style="color: green"><%= notice %></p>

<%= render @acc %>

<div>
  <%= link_to "Edit this acc", edit_acc_path(@acc) %> |
  <%= link_to "Back to accs", accs_path %>

  <%= button_to "Destroy this acc", @acc, method: :delete %>
</div>
