<div id="<%= dom_id contrato_servicio %>">
  <p>
    <strong>Cliente:</strong>
    <%= contrato_servicio.cliente_id %>
  </p>

  <p>
    <strong>Servicio:</strong>
    <%= contrato_servicio.servicio %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= contrato_servicio.cantidad %>
  </p>

  <p>
    <strong>Valor individual:</strong>
    <%= contrato_servicio.valor_individual %>
  </p>

  <p>
    <strong>Fecha contratacion:</strong>
    <%= contrato_servicio.fecha_contratacion %>
  </p>

</div>
