<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <%= link_to 'NetDav', root_path, class: 'text-black' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <%= link_to 'Clientes', clientes_path, class: 'nav-link text-black' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Servicios', servicios_path, class: 'nav-link text-black' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Cuentas', accs_path, class: 'nav-link text-black' %>
                </li>
                <li class="nav-item">
                    <!-- Reemplaza 'planes_path' con la ruta real de tus planes -->
                </li>
                <li class="nav-item">
                    <!-- Reemplaza 'planes_path' con la ruta real de tus planes -->
                </li>
                <!-- Agrega más elementos de menú según sea necesario -->
            </ul>
            <div class="d-flex align-items-center ms-auto">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown text-black">
                        <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <% if user_signed_in? %>
                                <% if current_user.nombre %>
                                    Hola <%= current_user.nombre %>
                                <% else %>
                                    Hola <%= current_user.email %>
                                <% end %>
                            <% else %>
                                Dale registrate o conectate
                            <% end %>
                        </a>
                        <ul class="dropdown-menu">
                            <% if user_signed_in? %>
                                <li>
                                    <%= button_to 'Cerrar sesión', destroy_user_session_path,
                                        class: 'dropdown-item', method: :delete %>
                                </li>
                            <% else %>
                                <li>
                                    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'dropdown-item' %>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <%= link_to 'Registro', new_user_registration_path, class: 'dropdown-item' %>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
